#events {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}
#events form {
	width: 80%;
}
.events_type {
	width: 100%;
    height: 42px;
    margin-right: 30px;
    position: relative;
}
.events_type > a {
    font-size: 28px;
    margin-right: 20px;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
.events_type a.active {
    background: $orange;
    color: white;
    cursor: default;
}
.new_events ,
.old_events {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.one_event {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -1px $light_grey;
    padding: 10px 30px;
    width: calc(50% - 40px);
	margin-right: 20px;
}
.geotag,
.datetag,
.timetag {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.datetag_img {
	margin-left: calc(5px / 2);
	width: 25px;
	margin-right: 10px;
}
.geotag_img {
	width: 30px;
	margin-right: 10px;
}
.rate {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.rate_img {
	margin-right: 5px;
	cursor: pointer;
	padding: 25px;
}
.old_events .datetag,
.old_events .timetag,
.old_events .geotag {
	width: 50%;
}
.happy_rate {
	background: url(../assets/icons/happy.png);
}
.happy_rate.active_rate {
	background: url(../assets/icons/happy_active.png);
}
.aver_rate {
	background: url(../assets/icons/aver.png);
}
.aver_rate.active_rate {
	background: url(../assets/icons/aver_active.png);
}
.sad_rate {
	background: url(../assets/icons/sad.png);
}
.sad_rate.active_rate {
	background: url(../assets/icons/sad_active.png);
}
.vue_wrapper {
	width: 100%;
}
.title_flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: baseline;
	align-items: baseline;
}
.title_flex h2 {
	margin-right: 10px;
}
.participants_type {
    border-radius: 15px;
    border: 1px solid $light-grey;
    padding: 0 1px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    width: 40%;
}
.participants_type a {
    border-radius: 16px;
	font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
.participants_type a.active {
	background: $orange;
    color: white;
    cursor: default;
}
.date_inputs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.date_inputs {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.label_wrapper {
	width: calc(50% - 30px);
}
.input_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.input_wrapper input {
	width: calc(50% - 5px);
}
.add_span {
	color: $blue;
	cursor: pointer;
}