.main_container {
    height: calc(100% - 90px);
    margin-right: 0px;
    margin-top: 20px;

    .scroll_container {
        overflow-y: scroll;
        width: 100%;
        padding-top: 1rem;
        height: 100%;

        .container_body {
            min-height: 400px;
            height: 100%;
            padding-left: 30px;
        }

        .container_body::-webkit-scrollbar {
            width: 1rem;
        }
    

        footer {
            min-height: 100px;
            margin-top: 100px;
        }
    }

    .scroll_container::-webkit-scrollbar {
        width: 1rem;
    }

    
}