@import '_variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: $dark_grey;
}

html {
    font-size: 20px;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: $bg_color;
}


body {
    display: flex;
}

#app {
    width: 100%;
    height: 100%;
}

.visible.head_main {
    filter: blur(3px);
    transition: filter 0.3s;
}

.head_main {
    flex: 1 1 auto;
    margin-left: 85px;
    transition: filter 0.3s;
}

.temp_cont {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -1px $light_grey;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}

.hr {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

.sm_margin_t {
    margin-top: 10px;
}
.md_margin_t {
    margin-top: 20px;
}
.lg_margin_t {
    margin-top: 30px;
}
.xs_margin_r {
    margin-right: 5px;
}
.sm_margin_r {
    margin-right: 10px;
}
.sm_margin_b {
    margin-bottom: 10px;
}
.md_margin_b {
    margin-bottom: 20px;
}
.lg_margin_b {
    margin-bottom: 30px;
}
.sm_button {
    border-radius: 10px;
    height: 40px;
}
.lg_button {
    border-radius: 10px;
    height: 50px;
}
.flex_1 {
    flex: 1 1 auto;
}
.blue_button {
    background: white;
    border: 2px solid $blue;
    color: $blue; 
}

.blue_button:hover {
    background: $blue;
    color: white;
}
.orange_button {
    background: white;
    border: 2px solid $orange;
    color: $orange;
    margin: 0;   
}

.orange_button:hover {
    background: $orange;
    color: white;
}
.desc_text {
    font-size: 1.2em;
    color: #bbb;
}

@import '_sidebar.scss';

@import '_header.scss';

@import '_main_container.scss';

@import '_profile.scss';

@import '_timetable.scss';

@import '_login.scss';

@import '_settings.scss';

@import '_events.scss';
